spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Niktopol/prac8
          search-paths: config
          default-label: master
          clone-on-start: true
          timeout: 10
        native:
          search-locations: file:///app/config
        health:
          enabled: true

server:
  port: 8888

logging:
  level:
    org.springframework.cloud.config: DEBUG
